body, html {
    margin: 0;
	overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 100%;
}

/* Header Section */
.header_block {
	box-sizing: border-box;
    display: flex;
    flex-direction: row;
	background-color: #3a5a40;

}

.header_container {
	outline: 5px solid blue;

	/* container things */
	box-sizing: border-box;
	width: 50%;
    color: white;

	/* font things */
    font-size: 3vmin;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Tahoma';
    text-transform: uppercase;

	/* text location things */
	vertical-align: center;
	padding-left: 3em;
}

/* Navigation */
.nav_container {
	outline: 5px solid blueviolet;
	box-sizing: border-box;
	width: 50%;
	
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
	align-items: center;
    padding-right: 4em;
    gap: 1em;
}

.nav_links {
    text-decoration: none;
    color: white;
    font-family: "Tahoma";
    font-size: 3vmin;

}

/* Main Section */
.main_container {
    padding: 1em;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    font-family: "Tahoma";
    font-size: 30px;
}

/* Bio Paragraphs */
.pre_code_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
    gap: 1em;
}

.code_container {
    font-family: "Tahoma";
    font-size: 30pt;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    word-break: normal;
    white-space: normal;
}

/* Responsive Design */
@media (max-width: 768px) {
	.header_block {
		flex-direction: column;
	}
    .header_container {
        font-size: 3vmin;
		vertical-align: center;
		padding-left: 3em;
    }

    .nav_container {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0px;
		justify-content: center;
		vertical-align: center;
		padding-left: 3em;

    }

    .nav_links {
        font-size: 3vmin;
		justify-content: center;


    }

    .main_container, .code_container {
        font-size: 22pt;
        width: 100%;
        padding: 1em;
    }

    .pre_code_container {
        flex-direction: column;
        align-items: center;
    }
}